@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    font-family: 'Oswald', sans-serif;
   
}
*:focus{
    
    outline: none;
    text-decoration: none;
}



.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;

}

/* Style the sidenav links and the dropdown button */
.option,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    position: relative;
}

.dropdown-btn i {
    position: absolute;
    right: 20px;
    top: 0;
    transform: translate(-50%, 50%);
}

.option:hover,
.dropdown-btn:hover {
    color: #cab3b3;
    text-decoration: none;
    outline: none;
}



#main {
    transition: margin-left .5s;
 
    width: 100%;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #818181;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    border: none; outline: none;
}

#sidenav-header {
    padding: 6px 8px 6px 16px;
    display: flex;
    align-items: center;

}

#sidenav-header img {
    width: 50px;
    border-radius: 50%;
    border: solid 3px white;
    margin-right: 10px;
}

#close-nav-container {
    background-color: #242424;
    position: relative;
    height: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#close-nav-container span {
    color: white;
    padding: 10px 0;
    font-size: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.sidenav .closebtn {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    right: 10PX;
    transform: translate(0,-50%);
    border: none;
}

hr {
    border-color: rgba(247, 245, 245, 0.836);
    border-width: 0.5px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
label.error{
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
#operator-registration{
height: fit-content;
padding: 10px 0;
box-shadow: 0px 5px 10px  rgba(0,0,0,0.75);
}
#operator-registration img{
    width: 200px;
}

#registration-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#registration-header h3{
    text-transform: uppercase;
}
#operator-registration input[type="submit"]{
background-color:#F0A500 ;
border: none;
outline: none;
width: 200px;
padding: 10px ;
color: white;
}
#operator-registration input[type="submit"]:hover{
    background-color:#da9501 ;
  
    }
    /*footer section */
    footer{
        margin-top: 100px;
    } 