<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Charts - SB Admin</title>
    <link href="../../css/styles.css" rel="stylesheet"/>
    <link href="../../css/main-style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../../css/framework/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                    class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Management</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Operator
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="add-operator.html">Add Operator</a>
                            <a class="nav-link" href="layout-static.html">List View</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Driver
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="add-operator.html">Add Operator</a>
                            <a class="nav-link" href="layout-static.html">List View</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts3">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Taxi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="add-taxi.html">Add Taxi</a>
                            <a class="nav-link" href="taxi-table.html">List Taxi</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Park
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="add-operator.html">Add Operator</a>
                            <a class="nav-link" href="layout-static.html">List View</a>
                        </nav>
                    </div>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="add-operator.html">Add Operator</a>
                            <a class="nav-link" href="layout-static.html">List View</a>
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <!--Main Section-->
        <!--Registration Form -->
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <div class="container px-5 my-5">
                            <div class="card bg-light">
                                <div class="card-header">
                                    <h3>Add Taxi</h3>
                                    <h5>Please fill the fields with correct data.</h5>
                                </div>
                                <!-- from here -->
                                <form class="card-body" novalidate="" action="" method="" id="taxiForm">
                                    <div>
                                        <div class="feild-box">
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="taxi_id">ID<abbr
                                                        class="text-danger"
                                                        title="This is required">*</abbr></label>
                                                <input type="text" class="form-control" name="taxi_id" id="taxi_id"
                                                       pattern="[a-zA-Z0-9'-'\s]*" required>
                                                <div class="valid-feedback">looks goods</div>
                                                <div class="invalid-feedback">Please enter Taxi id. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="model">Model<abbr
                                                        class="text-danger"
                                                        title="This is required">*</abbr></label>
                                                <input type="text" class="form-control" name="model" id="model"
                                                       pattern="[a-zA-Z'-'\s]*" required>
                                                <div class="valid-feedback">looks goods</div>
                                                <div class="invalid-feedback">Please enter Taxi model. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="year">Taxi year</label>
                                                <input type="text" class="form-control" name="year" id="year"
                                                       pattern="[0-9\s]*">
                                                <div class="valid-feedback">looks goods</div>
                                                <div class="invalid-feedback">Please enter your company name. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="feild-box">
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="driver_name">Driver name<abbr
                                                        class="text-danger"
                                                        title="This is required">*</abbr></label>
                                                <input type="text" class="form-control" name="driver_name"
                                                       id="driver_name"
                                                       pattern="[a-zA-Z'-'\s]*" required>
                                                <div class="valid-feedback">looks good</div>
                                                <div class="invalid-feedback">Please enter driver name. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="start_date">License start date<abbr
                                                        class="text-danger"
                                                        title="This is required">*</abbr></label>
                                                <input type="date" class="form-control" name="start_date"
                                                       id="start_date"
                                                       required>
                                                <div class="valid-feedback">looks good</div>
                                                <div class="invalid-feedback">Please enter start date. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="start_date">License end
                                                    date<abbr
                                                            class="text-danger"
                                                            title="This is required">*</abbr></label>
                                                <input type="date" class="form-control" name="end_date"
                                                       id="end_date"
                                                       required>
                                                <div class="valid-feedback">looks good</div>
                                                <div class="invalid-feedback">Please enter start date. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="feild-box">
                                            <div class="form-group">
                                                <label for="road" class="h6 form-control-label">Road</label>
                                                <select id="road" name="road" required="required"
                                                        class="custom-select">
                                                    <option value="birzeit">Birzeit</option>
                                                    <option value="dora">Dora</option>
                                                    <option value="ein_yabrod">Ein Yabrod</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="license_photo">license
                                                    photo<abbr
                                                            class="text-danger"
                                                            title="This is required">*</abbr></label>
                                                <input type="file" class="form-control" name="license_photo"
                                                       id="license_photo"
                                                       pattern="[a-zA-Z'-'\s]*" required>
                                                <div class="valid-feedback">looks good</div>
                                                <div class="invalid-feedback">Please upload a photo of the license. This
                                                    field
                                                    is required
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feild-box">
                                                <div>
                                                    <button type="submit" class="btn btn-secondary">Send Form
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                `
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../../js/addTaxi.js"></script>
<script src="../../css/framework/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<script>
    $('#taxiForm').submit(function (event) {
        event.preventDefault()
        // make selected form variable
        var vForm = $(this);
        // alert(window.location)
        /*
        If not valid prevent form submit
        https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/checkValidity
        */
        if (vForm[0].checkValidity() === false) {
            event.stopPropagation()
        } else {
            //create json
            const data = new FormData(event.target);
            console.log({data});

            $.ajax({
                url: '../../controller/TaxiController.php',
                contentType: false,
                type: 'post',
                dataType: 'json',
                data: data,
                processData: false,
                success: function (data) {
                    alert(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

        }
        // Add bootstrap 4 was-validated classes to trigger validation messages
        vForm.addClass('was-validated');
    });
</script>
</body>

</html>